html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

h1,
h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*logo*/
.header {
  background-color: black;
  color: white;
  padding: .66rem 0 .66rem 0.5rem;
}

.header .container {
  display: flex;
  align-items: center;
}


.header img {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

/*main banner*/
.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  display: flex;
  flex-flow: column wrap;
  color: white;
  background-color: black;
  width: 24rem;
  height: 11rem;
}

.headline h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-left: 3rem;
}

.headline h4 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;

}

.main-banner .container {
  padding-top: 9rem;
}
/*navigation*/

nav .container {
  display: inline-flex;
}
